# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MyPy / Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Data/Input files
*.log
*.logs
*.json
*.csv
*.txt
*.dat
*.data
*.input
*.out
*.tmp
*.temp

# Backup files
*.bak
*.backup

# Pdf files
*.pdf